.mouse-container-unretracted {
  width: 100%;
  height: 90%;
  background: #000c2f;
}

.mouse-container-retracted {
  width: 100%;
  height: 60%;
  background: #000c2f;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 15%;
  margin-top: 8px;
}

.btn {
  width: 30%;
  background: rgb(155, 210, 255);
  color: rgb(0, 24, 46);
  border-color: aliceblue;
  font-size: large;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.touch-container {
  height: 80%;
}
